<%= form_with(model: mantenimiento) do |form| %>
  <% if mantenimiento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mantenimiento.errors.count, "error") %> prohibited this mantenimiento from being saved:</h2>

      <ul>
        <% mantenimiento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == "edit" %>
    <% if (mantenimiento.motor.photo != '') || mantenimiento.motor.photo.nil? %>
      <%= image_tag mantenimiento.motor.photo, class: 'rounded mx-auto d-block w-25' %>
    <% else %>
      <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB4tz_gilgETvc2A7tVnVD_Z72z1_DrqwY00IFji_Q55BG4cTjq0zlIXanmPREaaU0GcY&usqp=CAU', class: 'rounded mx-auto d-block w-25' %>
    <% end %>
  <% end %>

  <div class="input-group py-2">
    <%= form.label :motor_name, "Nombre del Motor", class: "input-group-text", style: "background-color: #e3f2fd;" %>
    <%= form.select :motor_name, options_for_select(@motors.map { |motor| motor.name }, @mantenimiento.motor_name), {}, class: "form-select" %>
    <%# form.select :motor_name, options_from_collection_for_select(@motors, :id, :name, @mantenimiento.motor_id), {}, class: "form-select" %>
  </div>

  <div class="input-group py-2">
    <%= form.label :type_mantenimiento, "Tipo de mantenimiento", class: "input-group-text", style: "background-color: #e3f2fd;" %>
    <%= form.select :type_mantenimiento, Mantenimiento.type_mantenimientos.keys, {}, class: "form-select" %>
  </div>

  <div class="input-group py-2">
    <%= form.label :material, "Material", class: "input-group-text", style: "background-color: #e3f2fd;" %>
    <%= form.select :material, Mantenimiento.materials.keys, {}, class: "form-select" %>
  </div>

  <div class="input-group py-2">
    <%= form.label :city, "Ciudad", class: "input-group-text", style: "background-color: #e3f2fd;" %>
    <%= form.select :city, Mantenimiento.cities.keys, {}, class: "form-select" %>
  </div>

  <div class="input-group py-2">
    <%= form.label :date_mantenimiento, "Fecha Mantenimiento", class: "input-group-text", style: "background-color: #e3f2fd;" %>
    <%= form.date_field :date_mantenimiento, placeholder: "Fecha Mantenimiento", class: "form-control" %>
  </div>
  
  <div class="py-2">
    <% if action_name == "new" %>
      <%= form.submit "Guardar", class: "btn btn-success rounded-pill fw-semibold text-white" %>
    <% else %>
      <%= form.submit "Actualizar", class: "btn btn-success rounded-pill fw-semibold text-white" %>
    <% end %>
  </div>
<% end %>
