<div id="<%= dom_id mantenimiento %>">
  <p>
    <strong>Type motor:</strong>
    <%= mantenimiento.type_motor %>
  </p>

  <p>
    <strong>Type mantenimiento:</strong>
    <%= mantenimiento.type_mantenimiento %>
  </p>

  <p>
    <strong>Motor name:</strong>
    <%= mantenimiento.motor_name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= mantenimiento.city %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= mantenimiento.material %>
  </p>

  <p>
    <strong>Date mantenimiento:</strong>
    <%= mantenimiento.date_mantenimiento %>
  </p>

  <p>
    <strong>User email:</strong>
    <%= mantenimiento.user_email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= mantenimiento.user_id %>
  </p>

  <p>
    <strong>Motor:</strong>
    <%= mantenimiento.motor_id %>
  </p>

</div>
